body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

textarea {
  height: 100%;
  width: 100%;

  padding: 5px;
  border: 0;
  box-sizing: border-box;

  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  line-height: 1.5em;
}
